.image{
    width : ((1200px - 128px)/2);
    margin-left : 32px;
    margin-right : 32px;
    object-fit: cover;
}

.image:hover{
    cursor: pointer;
}

.title {
    font-size: 3rem;
}

.viewer {
    font-size: 2rem;
    letter-spacing: 1.5px;
}

dd {
    margin-inline-start: 0;
}