.header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav {
    padding : 0px 20px;
    width : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.logo {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 6px;
    vertical-align: middle;
}

.hamburgerButton {
    background :  none;
    box-shadow: none;
    border: none;
    display: none;
    outline: none;
    vertical-align: middle;
    padding : 0;
}

.burgerLine {
    height: 0.5rem;
    background-color: rgb(59,59,59);
    width: 3rem;
    margin : 0.5rem 0;
}

.menu {
    font-size: 2rem;
    font-weight: bold;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .menuCloseButton {
        display: none;
    }
}

a {
    text-decoration: none;
}

a:link {
    color : rgb(58, 58, 58)
}

a:visited {
    color : rgb(58, 58, 58)
}

.footer {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 830px*0.1;
    background-color: rgb(231, 231, 231);
}

.info {
    display: flex;
    width: 18%;
    justify-content: space-around;
    a {
        color: rgb(15, 111, 255);
    }
}

@mixin hamburger($menuWidth, $menuHeight) {
    .hamburgerButton {
        display: block;
    }
    .menu {
        font-size: 3rem;
        font-weight: bold;
        position: absolute;
        right: 0;
        top : 0;
        opacity : 0% to 100%;
        margin: 0;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
        z-index: -1;
        background-color: whitesmoke;
        width: $menuWidth;
        height: $menuHeight;
        justify-content: start;
        opacity: 0;
        li {
            padding : 4rem 0;
        }
    }
    .clickedMenu {
        opacity : 100%;
        transition: all 0.2s ease-in-out;
        z-index: 2;
    }
    .menuCloseButton {
        font-size: 3rem;
        font-weight: bold;
        background : none;
        padding : 10px 20px;
        border : solid 1px;
    }
    .menuLayer {
        position: absolute;
        top : 0;
        bottom: 0;
        left : 0;
        right : 0;
        z-index: 1;
    }
    .hideLayer {
        display: none;
    }
}


@media all and (min-width:640px) and (max-width:1279px) {
    .header {
        width: 100%;
    }
    .nav {
        width : 100%
    }

    @include hamburger(20vw, 100%)
}

/* 모바일 세로 (해상도 639~)*/
@media all and (max-width:639px) {
    .header {
        width: 100%;
        overflow: hidden;
    }
    .nav {
        width : 100%;
    }
    @include hamburger(50vw, 100vh)
}

@keyframes slide-in {
    from {
        opacity: 0%;
        left : 100%
    }

    to {
        opacity: 100%;
        right : 0%
    }
}