.header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav {
    padding : 0px 20px;
    width : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.logo {
    background: none;
    border: none;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 6px;
    vertical-align: middle;
    outline: none;
}

.logo:hover {
    cursor: pointer;
}

.hamburgerButton {
    background :  none;
    box-shadow: none;
    border: none;
    display: none;
    outline: none;
    vertical-align: middle;
    padding : 0;
}

.hamburgerButton:hover {
    cursor: pointer;
}

.burgerLine {
    height: 0.5rem;
    background-color: rgb(59,59,59);
    width: 3rem;
    margin : 0.5rem 0;
}

.menu {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding : 0;
    .menuCloseButton {
        display: none;
    }

    li {
        text-align: center;
        width: fit-content;
        list-style: none;
        padding : 0.5rem;
        button {
            width: 15rem;
            background: none;
            outline: none;
            border : none;
            font-size: 2.5rem;
            font-weight: bold;
        }
    }

    li:hover {
        background-color: rgb(58, 58, 58);
        transition : 0.7s;
        cursor: pointer;
        button {
            color : rgb(200, 200, 200);
        }
        button:hover {
            cursor: pointer;
        }
    }
}

.footer {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 830px*0.1;
    background-color: rgb(231, 231, 231);
}

.info {
    display: flex;
    width: 18%;
    justify-content: space-around;
    a {
        color: rgb(15, 111, 255);
    }
}

@mixin hamburger($menuWidth, $menuHeight, $liPadding) {
    .hamburgerButton {
        display: block;
    }
    .menu {
        font-size: 3rem;
        font-weight: bold;
        position: absolute;
        right: 0;
        top : 0;
        opacity : 0% to 100%;
        margin: 0;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
        z-index: -1;
        background-color: whitesmoke;
        width: $menuWidth;
        height: $menuHeight;
        justify-content: start;
        opacity: 0;
        position: fixed;
        li {
            width: 100%;
            padding : $liPadding 0;
            button {
                width: 100%;
            }
        }
    }
    .clickedMenu {
        opacity : 100%;
        transition: all 0.2s ease-in-out;
        z-index: 2;
    }
    .menuCloseButton {
        margin-top: 80%;
    }
    .menuLayer {
        position: absolute;
        top : 0;
        bottom: 0;
        left : 0;
        right : 0;
        z-index: 1;
    }
    .hideLayer {
        display: none;
    }
}

.modalWrap {
    left : 0;
    right: 0;
    top : 0;
    bottom : 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.signinModal {
    box-sizing: border-box;
    background-color: aliceblue;
    width: 60rem;
    height: 60rem;
    padding : 0 8rem;
    z-index: 4;
    border-radius: 2%;
}

.signinForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .inputArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    label {
        align-self: flex-start;
        font-size: 2rem;
        font-weight: bold;
        margin: 3rem 0 2rem 0;
    }
    input {
        font-size: 1.5rem;
        outline: none;
        width: 40rem;
        height: 3rem;
        border: none;
        border-bottom: 2px solid black;
        background: none;
    }
}

    .buttonArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        button {
            border: none;
            width : 30rem;
            background: none;
            font-size: 2rem;
            font-weight: bold;
            padding : 2rem 0;
        }
        button:hover {
            background-color: rgb(22, 22, 22);
            color: rgb(231, 231, 231);
            cursor: pointer;
        }
    }
}


@media all and (min-width:640px) and (max-width:1279px) {
    .header {
        width: 100%;
    }
    .nav {
        width : 100%
    }

    @include hamburger(20vw, 100%, 3rem)
}

/* 모바일 세로 (해상도 639~)*/
@media all and (max-width:639px) {
    .header {
        width: 100%;
        overflow: hidden;
    }
    .nav {
        width : 100%;
    }
    .signinModal {
        width : 40rem;
        height : 40rem;
    }
    @include hamburger(30vw, 100vh, 2rem)
}