.container{
    width : 1280px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideContainer{
    width : 1280px;
    display: flex;
}

.navigator {
    display: flex;
    justify-content: center;
}