.container{
    width : 1280px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideContainer{
    width : 1280px;
    display: flex;
}

.buttonLine {
    margin-top: 30px;
    width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonImg {
    width : 30px;
    height: 30px;
}

.buttonImg:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

/* 태블릿 세로, 모바일 가로 (1279 ~ 640)*/
@media all and (min-width:640px) and (max-width:1279px) {
    .container {
        width: 640px;
    }
    .slideContainer {
        width: 640px;
    }
    .buttonLine {
        width: 640px;
    }
}

/* 모바일 세로 (해상도 639~)*/
@media all and (max-width:639px) {
    .container {
        width : 320px
    }
    .slideContainer {
        width: 320px;
    }
    .buttonLine {
        width: 320px;
    }
}