.container {
    display: flex;
    align-items: center;
}

ul {
    padding : 0
}

li {
    list-style: none;
}

.buttonLine {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttonImg {
    width : 30px;
    height: 30px;
}
