.image{
    width : (1200px/5);
    margin-left : (1200px / 5 / 8);
    margin-right : (1200px / 5 / 8);
    object-fit: cover;
}

.slideContainer:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}


.title {
    font-size: 3rem;
}

.price {
    font-size: 2rem;
    letter-spacing: 1.5px;
}