@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Song+Myung&display=swap');

html {
    overflow-x: hidden;
    font-size: 62.5%;
    box-sizing: border-box;
    padding : 0;
    margin : 0;
    display : flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    color : rgb(58, 58, 58)
}

body {
    font-size: 1.5rem;
    margin : 0;
}